# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List of popular languages used by Data Scientists.
- List of libraries used by Data Scientists.
- List of data science tool.

Some of the popular languages that Data Scientists use are:
1. R programming language.
2. Python programming language.
3. SQL.

Some of the commonly used libraries used by Data Scientists include:
- TensorFlow.
- Pandas.
- PyTorch.

| Data Science Tools |
|:---:|
|Vs Code|
|Jupyter notebook|
|Pycharm|

### Below are a few examples of evaluating arthimetic expressions in Python

In [1]:
# This is a simple arithematic expression to multiply, then add
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Anozie Chinemerem E.